#root {
  max-width: 100vw;
  width: 100%;
  margin: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  box-sizing: border-box;
}

/* Main Container */
main {
  width: 100%;
  height: 100%;
  background-color: #F5F7FB;
  color: #293264;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 4;
}

/* Front page styling */
main h1 {
  font-weight: 700;
  font-family: "Karla", sans-serif;
}

main::after {
  position: absolute;
  content: url("./assets/mango-shape.png");
  top: 0;
  right: 0;
  z-index: 0;
}

main::before {
  position: absolute;
  content: url("./assets/mango-shape-2.png");
  bottom: 0px;
  margin-bottom: -2px;
  left: 0;
  z-index: 0;
}

/* Home Page */
.homepage h1 {
  font-size: 2rem;
}

/* Start quiz button */
.start-quiz-btn {
  background-color: #4D5B9E;
  margin-top: 1.8em;
}

/* Quiz container - page 2 */
div.form-container {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container form {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  gap: 1em;
  height: 80%;
  margin-top: 2em;
}

div.form-container > form > fieldset {
  border: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #DBDEF0;
  padding-bottom: 1em;
}

div.form-container > form legend {
  font-size: 1.1rem;
  font-family: "Karla", sans-serif;
  line-height: 1;
  font-weight: 700;
  margin-bottom: .6em;
  position: relative;
}

/* Hide radio buttons */
input[type="radio"] {
  display: none;
}

form fieldset label:not(:last-of-type) {
  margin-right: .7em;
}

form fieldset label {
  font-family: "Inter", sans-serif;
  margin-bottom: 0.4em;
  display: inline-block;
  border-radius: 10px;
  border: 1px solid #4D5B9E;
  padding: .1em 1em;
  cursor: pointer;
  transition: all 0.2s ease;
}

form fieldset label:hover {
  background-color: #D6DBF5;
  border: 1px solid transparent;
}

form fieldset label:active {
  transform: scale(0.96);
}

input[type="radio"]:checked + label.incorrect {
  background-color: #F8BCBC;
  border: 1px solid transparent;
  opacity: 0.6;
}

input[type="radio"]:checked + label.correct {
  background-color: #94D7A2;
  border: 1px solid transparent;
}

fieldset label.disable {
  opacity: 0.6;
}

input[type="radio"]:checked + label {
  background-color: #D6DBF5;
  border: 1px solid transparent;
}

.check-answers-btn {
  font-size: .9rem;
  margin-block: 2em;
  align-self: center;
  margin-top: auto;
}

/* Page 2 bottom - Play again section */
.play-again-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  margin-top: 1.5em;
}

.play-again-section > p {
  font-weight: 600;
  font-size: 1.1rem;
}

.play-again-section > button {
  font-weight: 600;
}