@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  line-height: 1.5;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Inter', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  overflow-x: hidden;
}

h1, h2, p {
  margin: 0;
  padding: 0;
}

button {
  border-radius: 15px;
  padding: 0.6em 3em;
  font-family: inherit;
  font-weight: 4  00;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #4D5B9E;
  transition: transform 0.3s ease;
  box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.7);
}

button:hover {
  transform: translateY(-2px);
  opacity: 0.96;
}

button:focus {
  outline: 1px solid #1A1A1A;
  outline-offset: 0.3em;
}

button:active {
  transform: translateY(1px);
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  /* outline: 4px auto -webkit-focus-ring-color; */


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  button {
    background-color: #f9f9f9;
  }
}
